<!doctype html>
<html>
<head><% include ../../partials/head %></head>
<body class="container">
    <header><% include ../../partials/header %></header>

    <main>
        <div class="jumbotron">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <p>
                    <strong>id</strong>:
                    <%= user._id %><br>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">
                <!-- LOCAL INFORMATION -->
                <% if (user.local.email) { %>
                <% if (user.google.id) { %>
                <div class="col-sm-6">
                <% } else { %>
                <div class="col-sm-12">
                <% } %>
                    <div class="jumbotron user-profile-box">
                        <h3><span class="fa fa-user"></span> Local</h3>
                        <p>
                            <strong>email</strong>:
                            <%= user.local.email %><br>
                        </p>
                        <p>
                            <strong>password</strong>:
                            <!-- <a href="/profile/update" class="btn btn-default btn-sm">Change Password</a> -->
                            **********
                        </p>
                    </div>
                </div>
                <% } %>

                <!-- GOOGLE INFORMATION -->
                <% if (user.google.id) { %>
                <% if (user.local.email) { %>
                <div class="col-sm-6">
                <% } else { %>
                <div class="col-sm-12">
                <% } %>
                    <div class="jumbotron user-profile-box">
                        <h3><i class="fab fa-google"></i> Google</h3>
                        <p>
                            <strong>google id</strong>:
                            <%= user.google.id %><br>
                        </p>
                        <% if (user.google.email) { %>
                        <p>
                            <strong>google email</strong>:
                            <%= user.google.email %>
                        </p>
                        <% } %>
                        <% if (user.google.name) { %>
                        <p>
                            <strong>google name</strong>:
                            <%= user.google.name.givenName %>
                            <%= user.google.name.familyName %>
                        </p>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>

            <% if (!user.authenticated) { %>
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron user-profile-box">
                        <a href="/profile/authenticate" class="btn btn-default btn-sm"><span class="fa fa-user"></span><span style="font-size: larger"> Authenticate</span></a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </main>

    <footer><% include ../../partials/footer %></footer>
</body>

</html>
